extends layouts/base

block mainContent
    div.col-12.column-centered
        h1.mt-3 404 Error
        p We're sorry, but the page you're looking for does not exist.
        p If you feel like you reached this page in error, please contact your system administrator. 
        p Click <a href="/">here</a> to return to the homepage.